.Home {
  width: 100%;
}

.Home-jobs,
.Home-talks {
  margin: var(--home-section-margin);
}

.Home-jobs-title,
.Home-talks-title,
.Home-projects-title {
  width: fit-content;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-black);
  margin: 0 auto var(--home-section-title-margin-bottom) auto;
}