{
	"extends": [
		"react-app",
		"airbnb"
	],
	"rules": {
		"max-len": [
			1,
			90
		],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js"
				]
			}
		],
		"react/no-array-index-key": "off",
		"react/prop-types": 0
	}
}