<footer id="footer">
    <p class="small">© Copyright {{ site.time | date: '%Y' }} - {{ site.author }}</p>
    <div id="social-icons">
    <a href="http://twitter.com/{{ site.authorTwitter }}" target="_blank">
      <i class="fa fa-twitter fa-lg" title="Twitter"></i>
    </a>
    <a href="https://github.com/{{ site.authorGithub }}" target="_blank">
      <i class="fa fa-github fa-lg" title="GitHub"></i>
    </a>
    <a href="http://stackoverflow.com/users/4705426/{{ site.authorStackOverflow }}" target="_blank">
      <i class="fa fa-stack-overflow fa-lg" title="Stack Overflow"></i>
    </a>
    <a href="{{ site.basepath }}feed.xml" target="_blank">
      <i class="fa fa-rss fa-lg" title="Stack Overflow"></i>
    </a>
  </div>
</footer>