<footer>
  <p>© 2017 - <a href="{{ site.url }}">Elías García</a></p>
  {% if site.github_username or site.stack_overflow_username or site.twitter_username%}
  <div class="social-icons">
    {% if site.twitter_username %}
    <a href="http://twitter.com/{{ site.twitter_username }}" target="_blank">
      <i class="fa fa-twitter fa-lg" title="Twitter"></i>
    </a>
    {% endif %}
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}" target="_blank">
      <i class="fa fa-github fa-lg" title="GitHub"></i>
    </a>
    {% endif %}
    {% if site.stack_overflow_username %}
    <a href="http://stackoverflow.com/users/4705426/{{ site.stack_overflow_username }}" target="_blank">
      <i class="fa fa-stack-overflow fa-lg" title="Stack Overflow"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</footer>