body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $dark-grey;
}

input {
  box-sizing: border-box;
  border: none;
  padding: 0px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}