body {
  min-height: 100%;
}

input {
  border: none;
  padding: 0px;
}

input:focus, button:focus {
  outline-color: transparent;
  outline-style: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}