main {
  flex: 1;
  background-color: $light-grey;
  padding: 50px 0px;
}

.main-wrapper {
  max-width: $width;
  margin: auto;
}

.main-header {
  background-color: $dark-grey;
  border-radius: 5px 5px 0px 0px;
  padding: 50px 80px;
  h1 {
    margin: 0px;
    text-align: center;
    color: $white;
  }
}

.main-content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 50px 80px;
  a {
    color: $dark-grey;
    transition: color 0.3s ease;
    padding: 10px 0px;
  }
  a:hover {
    color: $red;
    transition: color 0.3s ease;
  }
  .button {
    max-width: 180px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    color: $red;
    background-color: transparent;
    border: 2px solid $red;
    border-radius: 2px;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    & .fa {
      padding-left: 10px;
    }
  }
  .button:hover {
    color: $white;
    background-color: $red;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.main-footer {
  background-color: $dark-grey;
  text-align: center;
  padding: 20px 70px;
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & a {
    color: $white;
    padding: 4px 10px;
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
  a {
    display: block;
    box-sizing: border-box;
    color: $white-alpha;
    transition: color 0.3s ease;
  }
  a:hover {
    color: $white;
    transition: color 0.3s ease;
  }
  .active {
    color: $white;
    pointer-events: none;
    cursor: default;
  }
  .inactive {
    color: $white-alpha;
    pointer-events: none;
    cursor: default;
  }
}

@include media-query($md-device) {
  main {
    padding-left: 35px;
    padding-right: 35px;
  }

  .main-header, .main-content, .main-footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@include media-query($s-device) {
  main {
    padding-left: 25px;
    padding-right: 25px;
  }

  .main-header, .main-content, .main-footer {
    padding-left: 35px;
    padding-right: 35px;
  }
}

@include media-query($xs-device) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-header, .main-content, .main-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}