h1, h2 {
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin-top: 2em;
  padding-top: 1.6em;
  margin-bottom: 1.5em;
  border-top: 1px solid $medium-grey;
}

h3 {
  margin: 1.8em 0 1.3em 0;
}

.post-content {
  a {
    color: $red;
    padding: 5px;
  }
  a:hover {
    color: $red-dark;
  }
}

.content-post {
  border-radius: 5px 5px 5px 5px;
  line-height: 1.6;
  code {
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-size: 14px;
  }
  p code {
    color: $dark-grey;
    padding: 5px;
    background-color: $light-grey;
  }
  pre code {
    font-size: 14px;
    color: $light-grey;
  }
}

.highlight {
  overflow-x: auto;
}

.highlight {
  margin: 50px -80px;
  padding: 30px 80px;
  border-left-style: solid;
  border-left-color: $red;
  border-left-width: thick;
  background-color: $dark-grey;
}

blockquote {
  background-color: $red-light;
  color: $dark-grey;
  padding: 30px 80px;
  margin: 30px -80px;
  border-left: thick solid $red;
  p {
    text-align: center;
    margin: 0px;
  }
}

.addthis_inline_share_toolbox {
  margin: 20px auto 0px auto;
}

.at-resp-share-element .at-share-btn:focus, .at-resp-share-element .at-share-btn:hover {
  transform: none !important;
  -webkit-transform: none !important;
}

#mc_embed_signup {
  margin: -50px -80px;
  padding: 50px 80px;
  background-color: $dark-grey;
  label {
    color: $white;
    font-size: 2em;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .mc-wrapper {
    display: flex;
    align-items: center;
    padding: 30px 0px 0px 0px;
  }
  .mc-email {
    width: 100%;
    #mce-EMAIL {
      width: 100%;
      height: 42px;
      margin: 0px 30px 0px 0px;
      border: 2px solid $light-grey;
      border-radius: 4px;
      text-indent: 20px;
    }
  }
  .mc-button {
    margin-left: 30px;
    .button {
      margin: 0px auto;
      cursor: pointer;
    }
  }
}

.error-input {
  border-color: $red !important;
}

.error-text {
  color: $red;
  margin: 0px;
  padding-top: 10px;
}

.author-information {
  display: flex;
  align-items: center;
  .author-image {
    img {
      height: 100px;
      padding-right: 30px;
    }
  }
  .author-description {
    p {
      margin-top: 0px;
    }
  }
}

@include media-query($md-device) {
  .highlight {
    margin: 50px -50px;
    padding: 30px 50px;
  }

  blockquote {
    padding: 30px 50px;
    margin: 50px -50px;
  }
}

@include media-query($s-device) {
  .highlight {
    margin: 50px -35px;
    padding: 30px 35px;
  }

  blockquote {
    padding: 30px 35px;
    margin: 50px -35px;
  }
}

@include media-query($xs-device) {
  .highlight {
    margin: 50px -20px;
    padding: 30px 20px;
  }

  blockquote {
    padding: 30px 20px;
    margin: 50px -20px;
  }

  #mc_embed_signup {
    .mc-wrapper {
      flex-direction: column;
    }
    .mc-email {
      width: 100%;
    }
    .mc-button {
      margin-top: 10px;
      margin-left: 0px;
      width: 100%;
      .button {
        width: 100%;
        max-width: none;
      }
    }
  }
}