footer {
  width: 100%;
  background-color: $dark-grey;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  p {
    color: $white-alpha;
    margin: 0;
  }
  a {
    color: $white-alpha;
    transition: color 0.3s ease;
  }
  a:hover {
    color: $white;
    transition: color 0.3s ease;
  }
}

.social-icons {
  padding-top: 20px;
  a {
    padding: 10px;
  }
}

@include media-query($md-device) {
  nav {
    & ul {
      padding: 0px 35px;
    }
  }
}

@include media-query($s-device) {
  nav {
    & ul {
      padding: 0px 25px;
    }
  }
}

@include media-query($xs-device) {
  nav {
    & ul {
      display: block;
      padding: 0px 15px;
    }
  }
}