.Job {
  margin-bottom: 48px;
}

.Job-company {
  color: var(--color-primary);
  display: block;
  margin-bottom: 0.5rem;
}

.Job-dates {
  color: var(--color-grey);
  font-weight: var(--font-weight-light);
}