<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="origin">
  {% if page.url == "/" %}
  <title>{{ site.name }} - {{ site.homeTitle }}</title>
  {% else %}
  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
  {% endif %}
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta name="keywords" content="Elias Garcia, Angular, Angular 2, Node.js, Node, JavaScript, Tech Blog">
  {% feed_meta %}
  <meta property="og:site_name" content="{{ site.name }} - {{ site.homeTitle }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  {% if page.url == "/" or page.url == "/sobre-mi/" %}
  <meta property="og:type" content="website" />
  {% else %}
  <meta property="og:type" content="article" />
  {% endif %}
  <meta property="og:title" content="{{ page.title | default: site.homeTitle }}" />
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}" />
  {% if page.topic %}
    {% if page.topic == "angular" %}
    <meta property="og:image" content="{{ site.url }}/assets/images/card/angular.png" />
    {% elsif page.topic == "node" %}
    <meta property="og:image" content="{{ site.url }}/assets/images/card/node.png" />
    {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/images/js.png" />
    {% endif %}
  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/images/main.png" />
  {% endif %}
  <meta name="twitter:card" content="summary_large_image" >
  <meta name="twitter:site" content="@{{ site.authorTwitter }}" />
  <meta name="twitter:creator" content="@{{ site.authorTwitter }}" >
  <meta name="twitter:title" content="{{ page.title | default: site.homeTitle }}" />
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}" />
  {% if page.topic %}
    {% if page.topic == "angular" %}
    <meta name="twitter:image" content="{{ site.url }}/assets/images/card/angular.png">
    {% elsif page.topic == "node" %}
    <meta name="twitter:image" content="{{ site.url }}/assets/images/card/node.png">
    {% else %}
    <meta name="twitter:image" content="{{ site.url }}/assets/images/card/js.png">
    {% endif %}
  {% else %}
  <meta name="twitter:image" content="{{ site.url }}/assets/images/card/main.png">
  {% endif %}
  {% if page.previous.url %}
  <link rel="prev" href="{{ page.previous.url }}">
  {% endif %}
  {% if page.next.url %}
  <link rel="next" href="{{ page.next.url }}">
  {% endif %}
  <meta name="theme-color" content="#FC575E">
  <meta name="msapplication-navbutton-color" content="#FC575E">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FC575E">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="icon" type="image/x-icon" href="{{ site.basepath }}assets/images/favicon.ico" />
  <link rel="shortcut icon" href="{{ site.basepath }}assets/images/favicon.ico">
  <script type='application/ld+json'> 
  {
    "@context": "http://www.schema.org",
    "@type": "WebSite",
    "name": "Elías García",
    "url": "https://eliasgarcia.es",
    "sameAs" : [
      "https://twitter.com/egarciadev"
    ]
  }
  </script>
  <link rel="stylesheet" href="{{ site.basepath }}assets/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="Elías García" href="{{ site.basepath }}feed.xml">
  <link rel="stylesheet" href="{{ site.basepath }}assets/css/highlight.css">
  <link rel="stylesheet" href="{{ site.basepath }}assets/css/font-awesome.min.css">
  {% include analytics.html %}
</head>
<body>

  {% include navigation.html %}

  {% if page.profile %}
      {% include profile.html %}
  {% endif %}

  <section class="wrapper {% if page.profile %}home{% endif %}">
    {{ content }}
  </section>
  <script src="{{ site.basepath }}assets/js/main.js"></script>
  <script src="{{ site.basepath }}assets/js/highlight.js"></script>
  <script src="{{ site.basepath }}assets/js/twitter-widget.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>



