<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <div class="main-wrapper">
        <div class="main-header">
          <h1>{{ page.title | upcase }}</h1>
        </div>
        {% if page.blog %}
        <div class="main-content">
        {% else %}
        <div class="main-content content-page">
        {% endif %}
          {{ content }}
        </div>
        {% if page.blog %}
        <div class="main-footer">
          <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <i class="fa fa-angle-left fa-lg"></i>
            </a>
            {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="inactive">
              <i class="fa fa fa-angle-left  fa-lg"></i>
            </a>
            {% endif %}
            <ul>
              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="active">{{ page }}</a>
                </li>
                {% elsif page == 1 %}
                <li>
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                </li>
                {% else %}
                <li>
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
              <i class="fa fa fa-angle-right  fa-lg"></i>
            </a>
            {% else %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="inactive">
              <i class="fa fa fa-angle-right  fa-lg"></i>
            </a>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ "/assets/js/header.js" | relative_url }}"></script>
  </body>
</html>