---
layout: default
archive: true
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title }}</h1>
        <time class="headline" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign m = page.date | date: "%-m" %}
        {{ page.date | date: "%-d" }} de 
        {% case m %}
            {% when '1' %}Enero
            {% when '2' %}Febrero
            {% when '3' %}Marzo
            {% when '4' %}Abril
            {% when '5' %}Mayo
            {% when '6' %}Junio
            {% when '7' %}Julio
            {% when '8' %}Agosto
            {% when '9' %}Septiembre
            {% when '10' %}Octubre
            {% when '11' %}Noviembre
            {% when '12' %}Diciembre
        {% endcase %}
        del {{ page.date | date: "%Y" }}
        </time>
    </header>
    <section id="post-body" itemprop="articleBody">
        {{content}}
    </section>
    <section id="sharing">
        {% include share.html %}
    </section>
</article>
<section id="mc_embed_signup">
    <form action="//eliasgarcia.us8.list-manage.com/subscribe/post?u=55cf7078733f0b62eb97733e3&amp;id=ace40b1824" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">No te pierdas ningún artículo</label>
            <div id="mc-wrapper" class="clearfix">
                <div id="mc-email">
                    <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Correo electrónico" required>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_55cf7078733f0b62eb97733e3_ace40b1824" tabindex="1" value="">
                </div>
                <div id="mc-button">
                    <input type="submit" value="Suscríbete" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
            </div>
            <div class="mc-error clearfix">
            </div>
        </div>
    </form>
</section>
<footer id="post-meta" class="clearfix">
    <a id="author-info" href="http://twitter.com/{{ site.authorTwitter }}" target="_blank">
        <img class="avatar" src="{{ site.basepath }}assets/images/avatar.png">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>
</footer>

<script src="{{ site.basepath }}assets/js/mc-validation.js"></script>

<!-- Disqus comments -->
{% if site.disqus %}
    <div class="archive readmore">
        <h3>Comments</h3>
        {% include disqus.html %}
    </div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ site.basepath }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
