<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main>
      <div class="main-wrapper">
        <div class="main-content content-post">
          <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
              <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
              <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
            </header>
            <div class="post-content" itemprop="articleBody">
              {{ content }}
            </div>
            {% if site.disqus_shortname %}
              {% include disqus_comments.html %}
            {% endif %}
          </article>
          <!-- <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css"> -->
          <div id="mc_embed_signup">
            <form action="//eliasgarcia.us8.list-manage.com/subscribe/post?u=55cf7078733f0b62eb97733e3&amp;id=ace40b1824" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">No te pierdas ningún artículo</label>
                <div class="mc-wrapper">
                  <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Correo electrónico" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_55cf7078733f0b62eb97733e3_ace40b1824" tabindex="1" value="">
                  </div>
                  <div>
                    <input type="submit" value="Suscríbete" name="subscribe" tabindex="2" id="mc-embedded-subscribe" class="button">
                  </div>
                </div>
                <div class="mc-error">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ "/assets/js/header.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/mc-validation.js" | relative_url }}"></script>
  </body>
</html>