.Groups {
  display: flex;
  flex-direction: column;
}

.Group-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 0.5rem;
}

.Group-title {
  margin-bottom: 0;
}

.Group-logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.Group-place {
  margin-bottom: 0.5rem;
}

.Group-dates {
  color: var(--color-grey);
  font-weight: var(--font-weight-light);
  margin-bottom: 0.75rem;
}

.Group-description {
  line-height: 1.75;
  text-align: justify;
}
